<ion-header>
  <ion-toolbar>
    <ion-title>Nueva Transacción</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-input placeholder="Descripción" [(ngModel)]="description"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="number" placeholder="Monto" [(ngModel)]="amount"></ion-input>
    </ion-item>

    <ion-item>
      <ion-select [(ngModel)]="type">
        <ion-select-option value="income">Ingreso</ion-select-option>
        <ion-select-option value="expense">Gasto</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-input type="date" [(ngModel)]="date"></ion-input>
    </ion-item>
  </ion-list>

  <ion-button expand="block" (click)="save()">Guardar</ion-button>
</ion-content>
