<ion-list>
  <ion-item>
    <ion-input [(ngModel)]="transaction.description" placeholder="Descripción"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input type="number" [(ngModel)]="transaction.amount" placeholder="Monto"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Tipo</ion-label>
  </ion-item>

  <ion-radio-group [(ngModel)]="transaction.type">
    <ion-item>
      <ion-label>Ingreso</ion-label>
      <ion-radio value="ingreso"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Gasto</ion-label>
      <ion-radio value="gasto"></ion-radio>
    </ion-item>
  </ion-radio-group>
</ion-list>

<ion-button expand="full" (click)="save()">Guardar</ion-button>
