<ion-header>
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>Total Ingresos: {{ totalIncome }}</h2>
  <h2>Total Gastos: {{ totalExpense }}</h2>

  <ion-button expand="block" routerLink="/transactions">Ver Transacciones</ion-button>
  <ion-button expand="block" routerLink="/transaction-form">Nueva Transacción</ion-button>
  <ion-button expand="block" routerLink="/budgets">Presupuestos</ion-button>
  <ion-button expand="block" routerLink="/reports">Reportes</ion-button>
  <ion-button expand="block" routerLink="/settings">Configuración</ion-button>
</ion-content>
